* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

@font-face {
  font-family: 'Avenix-Regular' ;
  src: url('../assets/Fontes/Avenix-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kalixto' ;
  src: url('../assets/Fontes/Kallisto/Kallisto\ Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kalixto-Thin' ;
  src: url('../assets/Fontes/Kallisto/Kallisto\ Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: #111111;
  overflow: hidden;
}



