.mainContainer{
  display: flex;
}

.textContent {
  margin-top: 100px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textContent h1 {
  font-family: "Kalixto", sans-serif;
  align-self: flex-start !important;
  color: whitesmoke;
}

.textContent h2 {
  font-family: "Kalixto", sans-serif;
  color: #bfff00;
}

.textContent p{
  font-family: "Avenix-Regular", sans-serif;
  line-height: 26px;
  font-size: 12px;
  color: whitesmoke;
}

.textContent span {
  font-family: "Avenix-Regular", sans-serif;
  color: whitesmoke;
  font-size: 100px;
}

@media (max-width: 1200px) {
  .mainContainer{
    flex-direction: column;
  }

  .textContent{
    width: 100%;
  }

  .textContent p{
    font-size: 8px;
  }

  .textContent h2 {
    font-size: 16px;
  }

  .textContent h1 {
    font-size: 26px;
  }

  .textContent span {
    font-size: 86px;
  }
}
