.mainContainer{
  display: flex;
  height: 100vh;
}

.textContent {
  margin-top: 100px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textContent h1 {
  font-family: "Kalixto", sans-serif;
  align-self: flex-start !important;
  color: whitesmoke;
}

.textContent h2 {
  font-family: "Kalixto", sans-serif;
  color: #bfff00;
}

.textContent p{
  font-family: "Kalixto", sans-serif;
  font-size: 16px;
  color: whitesmoke;
}

.hireMe{
  cursor: pointer;
  font-family: "Kalixto", sans-serif;
  border-radius: 8px;
  border: none;
  border: 2px solid #bfff00;
  background-color: #bfff00;
  padding: 12px;
  transition: 0.2s all;
}

.getInTouch{
  cursor: pointer;
  color: whitesmoke;
  font-family: "Kalixto", sans-serif;
  border: 2px solid #bfff00;
  border-radius: 8px;
  background-color: #111111;
  padding: 12px;
  transition: 0.2s all;
}

.getInTouch:hover{
  background-color: #bfff00;
  color: #111111;
  transition: 0.2s all;
}

.hireMe:hover{
  background-color: #111111;
  color: #bfff00;
  transition: 0.2s all;
}

.textContent span {
  font-family: "Avenix-Regular", sans-serif;
  color: whitesmoke;
  font-size: 100px;
}

@media (max-width: 1200px) {
  .mainContainer{
    flex-direction: column;
    height: 100%;
  }

  .textContent{
    width: 100%;
  }
  

  .textContent h2 {
    font-size: 16px;
  }

  .textContent h1 {
    font-size: 26px;
  }

  .textContent span {
    font-size: 86px;
  }
}
