.header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Kalixto", sans-serif;
  letter-spacing: 2px;
}

.logoContainer {
  max-width: 110px;
}

.menuLinksContainer {
  display: flex;
  gap: 50px;
}

.menuLink {
  text-decoration: none;
  color: white;
  padding: 10px 25px 10px 25px;
  transition: all 0.2s;
}

.menuLink:hover {
  border-radius: 0% 15% 0% 15%;
  color: #bff000;
  transition: all 0.2s;
  box-shadow: 0px 0px 27px 0px rgba(191, 255, 0, 0.75);
  -webkit-box-shadow: 0px 0px 27px 0px rgba(191, 255, 0, 0.75);
  -moz-box-shadow: 0px 0px 27px 0px rgba(191, 255, 0, 0.75);
}

.menuHamburguer{
  fill: #bff000;
  display: none;
}

.drawer{
  font-family: "Kalixto", sans-serif;
}

@media (max-width: 768px){
  .menuHamburguer{
    display: block;
  }
  .menuLinks{
    display: none;
  }

  .logoContainer{
    width: 90px;
  }

}
